<div class="flex flex-col items-center">

  <h1 class="text-3xl text-white">Gestion des joueurs</h1>

  <button *ngIf="!afficher_bloc_players"
    class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded-full"
    (click)="afficher_joueurs()">Afficher joueurs</button>
  <button *ngIf="afficher_bloc_players"
    class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded-full" (click)="cacher_joueurs()">Cacher
    joueurs</button>

  <div *ngIf="afficher_bloc_players">
    <h2>Les joueurs</h2>
    <app-player-list [players]="players"></app-player-list>
  </div>